{% extends '_layout.html.twig' %}

{% block title %}Mot de passe oublié{% endblock %}
 {% block stylesheets %}
     {{ parent() }}
 {% endblock %}

{% block body %}
    <div class="container page-content">
        <div class="row mb-5 justify-content-center">
            <h1 class="text-center"> Mot de passe oublié </h1>
        </div>
        <div class="row justify-content-center w-100 mt-5 mb-5">
            {{ form_start(emailForm) }}
            {{ form_row(emailForm.email) }}
            <div class="text-center mt-4">
                <button type="submit" class="btn btn-success">Valider </button>
            </div>
            {{ form_end(emailForm) }}</div>
        </div>
    </div>
{% endblock %}
