<form method="post" action="{{ path('land_delete', {'id': land.id}) }}"
      onsubmit="return confirm('Êtes-vous sûr de bien vouloir supprimer cet élément?');">
  <input type="hidden" name="_method" value="DELETE">
  <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ land.id) }}">
  <button class="btn btn-danger"><i class="fa fa-trash nav-list-link__icon" aria-hidden="true"></i> Supprimer</button>
</form>
