<div class="w-100 p-5">
{{ form_start(form) }}
    {{ form_widget(form) }}
  <button class="btn btn-primary-color mb-5"><i class="fa fa-edit"></i>{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
</div>
