{#{% extends '_layout.html.twig' %}#}

{#{% block title %}Password Reset Email Sent{% endblock %}#}

{#{% block body %}#}
{#    <div class="page-content">#}
{#        <row class="justify-content-center">#}
{#            <p>Un e-mail a été envoyé contenant un lien sur lequel vous pouvez cliquer pour réinitialiser votre mot de passe.#}
{#                Ce lien expirera dans 1 heure.</p>#}
{#        </row>#}
{#    </div>#}
{#   {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.#}
{#    <p>If you don't receive an email please check your spam folder or <a href="{{ path('app_forgot_password_request') }}">try again</a>.</p>#}
{#{% endblock %}#}
