{% extends '_layoutAdmin.html.twig' %}
{% block body %}
    <div class="container">
        <h1 class="text-center mt-5 mb-4">Nouvelle graine</h1>
        {{ include('admin/seed/_form.html.twig') }}

        <button class="btn btn-success"><a href="{{ path('seed_index') }} " class="text-info"><i
                        class="fas fa-arrow-left"></i> Revenir à la liste</a></button>
    </div>

{% endblock %}
