@import "sidebar";
@import "vars";
@import "~bootstrap/scss/bootstrap";

h1{
  font-family: $font-title;
}

footer {
  bottom: 1;
  width: 100%;
  /*Set the fixed height of the footer here*/
  height: 40%;
  position: relative;
}

.navbar {
   z-index: 2;
 }

div.page-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 100px;
}

.custom-file {
  position: initial;
}
.custom-file-input {
  opacity: 100;
}
