@import "vars";

.navbar{
  border-bottom: 1px solid $sun-color;
}

.navbar-brand{
  font-family: $font-title;
  font-size: $size-title;
}

footer {
  bottom: 0;
  width: 100%;
  /*Set the fixed height of the footer here*/
  height: 40%;
}

@import url(https://fonts.googleapis.com/css?family=Lato);

$black: #333333;
$gray: #999999;
$light-gray: #e4e4e4;
$blue: #03a9f4;
$main-color: $blue;

body{
  font-family: "Lato", serif;
}

a{
  text-decoration: none !important;
}


/*----------Left Side nav----------*/

// left-side-pannel start
$left-anim: 45px;
$trans-speed: 0.4s;

.left-side-nav{
  position: fixed;
  top:0;
  height:100%;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  width:100px;
  background: $light-gray;
  z-index: 2;
  transition: $trans-speed ease;
}

// inner-styling for side-nav

.inner-content-wrapper{
  padding-top: 35px;
  overflow: hidden;
  transition: $trans-speed ease;
}

.nav-list-item{
  position: relative;
  left: 42px;
  transition: $trans-speed ease;
}

//left-side-nav-pannel

.nav-list{

  &-item{
    padding: 10px 0;
  }
  &-link{
    position: relative;
    color: $gray;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.1s ease;

    &:hover{
      color: rgba(3, 169, 244, 0.6);
    }
    &:focus{
      color:$main-color;
    }
    &.active{
      color: rgba(3, 169, 244, 1);
    }

    &__icon{
      font-size: 20px !important;
    }

    &__info{
      position: absolute;
      font-size: 12px;
      padding:0 8px;
      letter-spacing: 1px;
      display: inline-block;
      opacity: 0;
      left: 10px;
    }
  }

  &-info{

  }
}
.inner-list-bottom{
  position: absolute;
  bottom: 30px;
  left: 40px;
  display: inline-block;
  cursor:pointer;
  transition: $trans-speed ease;

  &__link{
    font-size: 30px !important;
    color: $gray;

    &:hover, &:focus, &:active{
      color: $gray;
    }
  }
}

.drop-down-list{
  width:220px;
  background:#fff;
  border-radius:5px;
  position: absolute;
  bottom: 40px;
  left: 120%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transform: scale(0);
  transform-origin: bottom left;
  transition: 0.2s cubic-bezier(0.25, 0.1, 0.08, 1.38);

  &-item{
    padding: 0 15px;
    display: block;
    border-bottom: 1px solid #f0f0f0;

    &:last-child{
      border-bottom:1px solid transparent;
    }
    &__link{
      color:  $gray;
      font-size:12px;
      line-height:20px;
      text-transform: capitalize;
      padding:10px 20px;
      display: block;
    }
    &:hover{
      background-color: $light-gray;

      .drop-down-list-item__link{
        color:$main-color;
      }
    }
    .user-name{
      color: $black;
      padding:20px;
      display: block;
      text-transform: capitalize;
    }
  }
}

/*----------END: Left Side nav----------*/

/*---------------For animation---------------*/

//Sidenav
.sidenav-anim{
  &.animate{
    width: 220px;

    .logo-link, .inner-list-bottom{
      left: $left-anim;
    }

    .inner-align{
      text-align: left;
    }

    .nav-list-item{
      left: $left-anim;
      transition: $trans-speed ease;
    }

    .nav-list-link__info{
      opacity: 1;
      left: 20px;
      transition: $trans-speed 0.1s ease;
    }
  }
}
//Sidenav

//Dropdown

.drop-down-list{
  &.animate{
    transform: scale(1);
  }
}
@import "~bootstrap/scss/bootstrap";
