@import "vars";
@import "~bootstrap/scss/bootstrap";

.navbar{
  border-bottom: 1px solid $sun-color;
}

.navbar-brand{
  font-family: $font-title;
  font-size: $size-title;
}

footer {
  bottom: 0;
  width: 100%;
  /*Set the fixed height of the footer here*/
  height: 40%;
}
