{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="flash alert mt-5 w-100 position-fixed alert-{{ label }} alert-dismissible text-center">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
{% endfor %}
