<!DOCTYPE html>
<html lang="fr">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 <title>{% block title %}Welcome!{% endblock %}</title>
 {% block stylesheets %}
  {{ encore_entry_link_tags('app') }}
 {% endblock %}
</head>
<body>
{% include 'navbar.html.twig' %}
{% block body %}
{% endblock %}
{% include 'footer.html.twig' %}
{% block javascripts %}
 <script src="https://kit.fontawesome.com/38fc56fe7a.js" crossorigin="anonymous"></script>
 {{ encore_entry_script_tags('app') }}
{% endblock %}

</body>
</html>
